@media (max-width: 767px) {
  .transactions-list .ui.table {
    border-radius: 0!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: none!important;
  }
}

.transactions-list__empty {
  padding: 1em;
  text-align: center;
}
