.net-worth {
  display: table;
  width: 100%;
  padding: 0 1em 1em 1em;
}

@media (min-width: 768px) {
  .net-worth {
    padding: 0  0 0.89rem 0;
  }
}

.net-worth__label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.3em;
}

.net-worth__total {
  display: table-cell;
  white-space: nowrap;
  text-align: right;
  font-size: 1.3em;
}
