.net-worth {
  display: table;
  width: 100%;
  margin-bottom: 1em;
}

.net-worth__label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.3em;
}

.net-worth__total {
  display: table-cell;
  white-space: nowrap;
  text-align: right;
  font-size: 1.3em;
}
