header {
  position: sticky;
  top: 0;
  padding: 16px;
  height: 62px;
  width: 100%;
  background-color: #3F51B5;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  z-index: 1;
}

@media (max-width: 767px) {
  header {
    padding: 10px;
    height: 50px;
    box-shadow: 0 2px 6px 0 rgba(34, 36, 38, 0.15), 0 2px 18px 0 rgba(34, 36, 38, 0.17);
  }
}
