---
---
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "{{ site.theme }}";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

@media screen and (min-width: 1100px) {
  .wrapper {
    width: 1100px;
  }

  section {
    width: 800px;
  }
}

header {
  text-align: center;
}

header img.logo {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 96px;
}

header p {
  text-align: left;
}

.head-title {
  display: flex;
}

.head-title .github-star {
  margin-left: 1em;
}

.button {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  line-height: 64px;
  font-size: 2rem;
  color: #000000;
  background: #f5f5f5;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.button:hover{
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: underline;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: none;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
