.account-form {
  margin-top: 1em;
  max-width: 680px !important;
}
.ui.form.account-form .field.checkbox {
  padding-top: 0.5em;
}

.ui.form.account-form .fields.no-margin {
  margin-bottom: 0 !important;
}
