body {
  margin: 0;
  padding: 1.5em 0;
  background-color: ghostwhite;
  font-family: sans-serif;
}

.mono {
  font-family: Inconsolata, Monaco, monospace;
}

.positive {
  color: #21BA45;
}

.negative {
  color: #DB2828;
}
